/*AQUI É O TAMANHO RESPONSIVO PARA UM CELULAR DE 600PX*/
@media only screen and (max-width: 600px) {

    /*Aqui é o cabeçalho*/

    header img {
        width: 100%;
        padding: 25px;
    }

    header h1 {
        font-size: 30px;
    }

    header h2 {
        font-size: 25px;
        margin-right: 10px;
        margin-left: 10px;
    }

    /*Aqui é a seção azul*/
    .texto {
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
        height: auto;
    }

    /*Aqui começa a seção de cards*/
    .h2-cards {
        font-size: 27px;
        padding: 25px;
    }

    .primeiros-3-cards {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .segundo-3-cards {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .terceiro-3-cards {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .card {
        width: 70%;
        margin-bottom: 25px;
    }

    .especial h3 {
        line-height: 1;
        margin: 5px;
    }

    .mark {
        font-size: 14px;
    }

    .elemento-linha {
        display: none;
    }

    .ebook h3 {
        padding-left: 20px;
        padding-right: 20px;
    }

    /*Aqui começa a seção quem somos*/

    .secao-quem-somos button {
        width: auto;
        margin-left: 15px;
        margin-right: 15px;
    }

    .secao-quem-somos button a {
        padding: 23px;
    }

}

/*AQUI ACABA O TAMANHO RESPONSIVO PARA O CELULAR DE 600PX*/

/*AQUI COMEÇA O TAMANHO RESPONSIVO PARA TABLETS*/

@media only screen and (min-width: 768px) and (max-width:1300px) {

    /*Header*/
    header h1,
    h2 {
        padding-left: 13px;
        padding-right: 13px;
    }

    /*seção azul*/
    .texto {
        height: auto;
    }

    /*seção de cards*/
    .primeiros-3-cards {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .segundo-3-cards {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .terceiro-3-cards {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .card {
        width: 60%;
    }

    .elemento-linha {
        display: none;
    }
}

/*AQUI ACABA O TAMANHO RESPONSIVO PARA TABLETS*/

/*AQUI É UM TESTE*/
@media only screen and (max-width: 500px) {

    .secao-quem-somos button {
        width: auto;
    }

    header img {
        width: 100%;
    }

    .card {
        height: auto;
    }

    footer p {
        font-size: 12px;
    }

    .elemento-linha {
        display: none;
    }
}